@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Circular";
  src: url("./assets/fonts/CircularStd-Medium.ttf");
}

@font-face {
  font-family: "Circular";
  src: url("./assets/fonts/CircularStd-Bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Circular";
  src: url("./assets/fonts/CircularStd-Black.ttf");
  font-weight: 900;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: Circular, sans-serif;
  font-size: 1.5rem;
  background-image: linear-gradient(to right bottom,
      #0e031f,
      #140a29,
      #190f33,
      #20123d,
      #281447);
}

img {
  max-width: 50vw;
  max-height: 25vw;
  display: block;
  margin: auto;
}

form {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  flex-flow: row wrap;
  max-width: 40vw;
  margin: auto;
  align-items: baseline;
}

button[type='submit'] {
  padding: 5px 20px;
  margin: 10px auto;
  float: right;
}

#greeting {
  margin: 10px auto;
  padding: 10px 60px;
  border: 1px solid #222;
}

#greeting:empty {
  display: none;
}

.prize-container-animation {
  animation: fadeIn 0.7s ease-in forwards;
}

canvas {
  filter: drop-shadow(0 0 0.75rem #040404);
}

.wheel-container>div {
  max-width: 1800px !important;
  max-height: 1800px !important;
  width: 40vw !important;
  height: 40vw !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: rotate(0deg) scale(0);
  }

  to {
    opacity: 1;
    transform: rotate(360deg) scale(1);
  }
}

.prize-animation {
  animation: swing 1s ease-in-out alternate infinite;
}

@keyframes swing {
  from {
    transform: rotate(-20deg);
  }

  to {
    transform: rotate(20deg);
  }
}

.prize-value-animation {
  animation: prizeValueFadeIn 0.7s ease-in forwards;
  animation-delay: 0.8s;
  opacity: 0;
}

@keyframes prizeValueFadeIn {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}